/* custom.css */

.gradient-background {
    background: linear-gradient(to top right, #4fc3f7 0%, #28a745 100%);
}

.btn-custom {
    background-color: #9b59b6; /* Light purple */
    border: none;
    color: white;
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px; /* Button padding */
    width: 100%;
    margin-top: 20px; /* Add top margin for spacing */
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

.btn-custom:hover {
    background-color: #b57ec9; /* Lighter purple for hover */
}

.list-group-item {
    border-radius: 10px; /* Angoli arrotondati */
    background-color: rgba(184, 184, 184, 0.4); /* Colore grigio con bassa opacità */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra sotto ogni riga */
    margin-bottom: 10px; /* Spazio tra le righe */
    border: none; /* Rimuovere il bordo predefinito */
}

.list-group-item img {
    max-height: 40px;
    margin-right: 15px;
}