/* Mobile navigation bar */
.navbar-nav .position-relative a .badge {
    top: 50%;
    transform: translateY(-60%);
    right: 0; /* Adjust this position as needed */
}

/* Specific styles for the mobile header notification icon */
header .badge {
    top: 0;
    right: 0;
    font-size: 0.8rem;
    padding: 3px 6px;
}

/* Navbar and header styles to ensure the badge is correctly positioned */
nav.d-none.d-md-block {
    z-index: 1000; /* Ensure the sidebar is on a lower layer */
}

.navbar-item a {
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-item a .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 98%, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
}

.navbar-item a:hover .mask {
    opacity: 1;
}

#notifications .list-group-item {
    border-radius: 25px;
    background-color: rgba(184, 184, 184, 0.4); /* Light grey with low opacity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
    margin-bottom: 10px; /* Space between rows */
    border: none; /* Remove default border */
    display: flex;
    align-items: flex-start;
}

#notifications .list-group-item img {
    width: 40px;
    height: 40px;
}

.card {
    border-radius: 25px;
    background-color: rgba(184, 184, 184, 0.4); /* Light grey with low opacity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow */
}

.card-title, .card-subtitle, .card-text, .card-footer {
    font-size: 1.25rem;
}

.small-text {
    font-size: 0.75rem; /* Smaller font size */
    display: block;
    margin-top: 5px;
}

.gradient-background {
    background: linear-gradient(to top right, #4fc3f7 0%, #28a745 100%);
}

.btn-custom {
    background-color: #9b59b6; /* Light purple */
    color: white;
    border-radius: 25px; /* Rounded corners */
    padding: 10px 20px; /* Button padding */
    width: 100%;
    margin-top: 20px; /* Add top margin for spacing */
    transition: background-color 0.3s ease; /* Transition for hover effect */
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #b57ec9; /* Lighter purple for hover and focus */
}

nav.d-none.d-md-block {
    z-index: 1000; /* Ensure the sidebar is on a lower layer */
}

.navbar-item a {
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.navbar-item a .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 98%, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
}
.navbar-item a:hover .mask {
    opacity: 1;
}

#notifications .list-group-item {
    border-radius: 25px; /* Angoli arrotondati */
    background-color: rgba(184, 184, 184, 0.4); /* Colore grigio con bassa opacità */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra sotto ogni riga */
    margin-bottom: 10px; /* Spazio tra le righe */
    border: none; /* Rimuovere il bordo predefinito */
    display: flex;
    align-items: flex-start;
}

#notifications .list-group-item img {
    width: 40px;
    height: 40px;
}

.card {
    border-radius: 25px;
    background-color: rgba(184, 184, 184, 0.4); /* Colore grigio con bassa opacità */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombra sotto ogni riga */
}

.card-title {
    font-size: 1.5rem;
}

.card-subtitle {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1.25rem;
}

.card-footer {
    font-size: 1.25rem;
}

.small-text {
    font-size: 0.75rem; /* Imposta la dimensione del font più piccola */
    display: block;
    margin-top: 5px;
}

/* Aggiungi questo stile al tuo file CSS */
.comment-highlight {
    background-color: yellow;
    transition: background-color 0.5s ease;
}

/* Stile per la barra di ricerca */
#search-form {
    max-width: 100%;
}

/* Stile per i risultati della ricerca */
#search-results .user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#search-results .user-item img {
    max-height: 50px;
    margin-right: 15px;
}

#search-results .user-item span {
    font-size: 1.1rem;
    font-weight: 500;
}

/* Aggiungi margine tra sezione di ricerca e lista dei post */
@media (min-width: 768px) {
    .col-md-7 {
        margin-right: 0.5rem; /* Riduci lo spazio a destra della lista dei post */
    }
}

/* Nascondi la sezione di ricerca su schermi grandi */
@media (min-width: 768px) {
    .search-container {
        display: none;
    }
}

/* Mostra la sezione di ricerca su schermi piccoli */
@media (max-width: 767.98px) {
    .search-container {
        display: block;
    }
    .search-container h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .search-container .row {
        justify-content: center;
    }
    .search-container .col-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #search-form {
        width: 100%;
        max-width: 500px; /* Limita la larghezza del modulo */
    }
    #search-results {
        width: 100%;
        max-width: 500px; /* Limita la larghezza dei risultati di ricerca */
    }
}
